@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #ffff;
}

.header-bar {
    position: relative;
    background: #1A2D42;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
}

.header-bar .left-text {
    display: flex;
    align-items: center;
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.header-bar .left-text i {
    margin-right: 8px;
    font-size: 24px;
    color: white;
}

.header-bar span {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.navbar {
    background-color: #C0C8CA;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #25252b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #65a1e5;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
}

h1 {
    color: #1A2D42;
    margin-bottom: 20px;
}

.table-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #1A2D42;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px 15px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-id { grid-column: 1; }
.header-usuario { grid-column: 2; }
.header-monto { grid-column: 3; }
.header-fecha { grid-column: 4; }
.header-acciones { grid-column: 5; }

.usuario {
    margin-right: 50px;
}

.table-container {
    max-height: 550px; /* Altura máxima para el contenedor de la tabla */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    width: 100%;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.cell-id { grid-column: 1; }
.cell-usuario { grid-column: 2; }
.cell-monto { grid-column: 3; }
.cell-fecha { grid-column: 4; }
.cell-acciones { grid-column: 5; }

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1A2D42;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #1A2D42;
}

.btn {
    padding: 6px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.btn-aceptar {
    background-color: #4CAF50; /* Green */
    color: white;
}

.btn-aceptar:hover {
    background-color: #45a049;
}

.btn-rechazar {
    background-color: #f44336; /* Red */
    color: white;
}

.btn-rechazar:hover {
    background-color: #da190b;
}
