@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    color: #080606;

}body {
    /* font-family: 'Helvetica Neue', Arial, sans-serif; */
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #ffff; 
   
}
.header-bar {
    position: relative; /* Necesario para usar position: absolute en los elementos hijos */
    background: #1A2D42; /* Gris oscuro */
    height: 50px;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido dentro de la barra */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px; /* Añadir algo de espacio a los lados */
}

.header-bar .left-text {
    display: flex; /* Añadir flex para alinear el ícono y el texto */
    align-items: center; /* Centrar verticalmente el ícono y el texto */
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.header-bar .left-text i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
    font-size: 24px; /* Ajustar el tamaño del ícono */
    color: white; /* Cambiar el color del ícono a blanco */
}

.header-bar span {
    margin: 0 auto; /* Para centrar el span dentro de la barra */
    position: absolute;
    left: 50%; /* Coloca el span en el medio */
    transform: translateX(-50%); /* Centra el span */
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.navbar {
    background-color: #C0C8CA; /* Blanco para minimalismo */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar a {
    color: #25252b; /* Gris oscuro */
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease-in-out; /* Transición suave */
}
.navbar a:hover {
    color: #65a1e5; /* Verde claro al pasar el mouse */
}
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.welcome {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}
.highlight {
    color: #ffff;
    background-color: #1A2D42 ;/* Fondo de resaltado */
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #1A2D42;
    box-shadow: 0 0 25px #65a1e5;}