/* saldo.css */

/* Estilos Globales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #fff;
}

/* Encabezado */
.header-bar {
    position: relative;
    background: #1A2D42;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.header-bar .left-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.header-bar .left-text i {
    margin-right: 8px;
    font-size: 24px;
    color: white;
}

.header-bar span {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

/* Barra de Navegación */
.navbar {
    background-color: #C0C8CA;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #25252b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #65a1e5;
}

/* Contenedor Principal */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* Estilos Específicos */
.saldo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.header-saldo {
    font-size: 26px;
    color: #1A2D42;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
}

.saldo-amount {
    font-size: 60px;
    color: #4CAF50;
    font-weight: bold;
}

.header-movimientos {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.table-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #1A2D42;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 12px 15px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.table-container {
    max-height: 340px;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 10px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1A2D42;
}

.styled-table tbody tr.positivo td {
    color: #4CAF50; /* Verde para movimientos positivos */
}

.styled-table tbody tr.negativo td {
    color: #f44336; /* Rojo para movimientos negativos */
}

/* Estilos para la Página de Préstamos */
.prestamo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.alert-success {
    background-color: #d4edda;
    padding: 15px;
    color: #155724;
    border-radius: 5px;
    margin-top: 20px;
}

