@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-image: url(imagenes/bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 74vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Centering elements within the header */
    flex-direction: column; /* Arrange elements vertically */
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 10px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center; /* Centering the text within the h2 element */
}
p{
    color: #bebebe;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;

}

.campo {
    margin-top: 20px; /* Adding some space between the h2 and input field */
    padding: 10px 35px;
    margin: 5px;
    border: 2px solid #b4b4b4;
    outline: none;
    color: #000000;
    text-align: center; /* Centering the text within the input field */
}

.campo::placeholder {
    color: #b4b4b4;
}

.btn-2 {
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #fffdfc;
    margin: 20px;
    background-color: transparent;
    color: #fffdfc;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-2:hover{
    color: #18293a;
    background-color: #fffdfc;


}