<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='deposito_admin.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="header-bar">
        <div class="left-text">
            <i class='bx bx-user-circle'></i> {{usuario}}
        </div>
        <span>SOLICITUDES DE DEPOSITOS</span>
    </div>
    
    <div class="navbar">
        <a href="/administrador">Inicio</a>
        <a href="/deposito_admin">Depositos</a>
        <a href="/prestamos_admin">Prestamos</a>
        <a href="/">Cerrar sesión</a>
    </div>
    
    <div class="container">
        
        <!-- Barra de encabezado fija -->
        <div class="table-header">
            <div class="header-id">ID</div>
            <div class="header-usuario">Usuario</div>
            <div class="header-monto">Monto</div>
            <div class="header        <!-- <h1>Lista de Depósitos</h1> -->
-fecha">Fecha</div>
            <div class="header-acciones">Acciones</div>
        </div>
        
        <div class="table-container"> <!-- Contenedor para el desplazamiento -->
            <table class="styled-table">
                <tbody>
                    {% for deposito in depositos %}
                    <tr>
                        <td class="cell-id">{{ deposito.id }}</td>
                        <td class="cell-usuario">{{ deposito.usuario }}</td>
                        <td class="cell-monto">{{ deposito.deposito }}</td>
                        <td class="cell-fecha">{{ deposito.fecha }}</td>
                        <td class="cell-acciones">
                            <form action="/aceptar_deposito" method="post" style="display: inline;">
                                <input type="hidden" name="deposito_id" value="{{ deposito.id }}" class="btn btn-aceptar">
                                <button type="submit" name="accion" value="aceptar" class="btn btn-aceptar">Aceptar</button>
                            </form>
                            <form action="/rechazar_deposito" method="post" style="display: inline;">
                                <input type="hidden" name="deposito_id" value="{{ deposito.id }}" class="btn btn-rechazar">
                                <button type="submit" name="accion" value="rechazar" class="btn btn-rechazar">Rechazar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>

                            
                            



                            