<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylehome.css') }}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="imagenes/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <!-- <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li> -->
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>NEO BANCO</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam voluptatem repellendus hic id ex? Voluptas officiis commodi repellendus voluptate laudantium fugiat repellat, eligendi nobis asperiores adipisci blanditiis soluta alias totam.</p>
            <a href="/login" class="btn-1">Empezar</a>
            </div>
            
        </div>
    </header>
    <section class="general container">
        <h2>Servicios</h2>
        <div class="general-content">
            <div class="general-1 txt">
                <h3>crea una cuenta</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam pariatur dolorum tempora dolores omnis</p>
            </div>
            <div class="general-2 txt">
                <h3>trasfiere </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam pariatur dolorum tempora dolores omnis</p>
            </div>
            <div class="general-3 txt">
                <h3>paga tus Servicios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam pariatur dolorum tempora dolores omnis</p>
            </div>
        </div>
    </section>
    <section class="info-1">
        <div class="info-content container">
            <h2>Informacion</h2>
            <div class="info-circle">
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>800M</h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, aut.</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>6.5%</h3>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, aut.</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>-35 c</h3>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, aut.</p>

                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>8</h3>

                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, aut.</p>

                </div>
            </div>
        </div>
    </section>
    <section class="general g2 container">
        <h2>Productos</h2>
        <div class="general-content">
            <div class="general-4 txt">
                <h3>programa 4</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam pariatur dolorum tempora dolores omnis</p>
            </div>
            <div class="general-5 txt">
                <h3>programa 5</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam pariatur dolorum tempora dolores omnis</p>
            </div>
            <div class="general-6 txt">
                <h3>programa 6</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore numquam pariatur dolorum tempora dolores omnis</p>
            </div>
        </div>
    </section>
    <section class="info-2">
        <div class="info-content container">
            <h2>Nuestro equipo</h2>
            <div class="testi">
                <div class="testi-left">
                    <div class="testi-txt">
                        <img src="imagenes/t1.png" alt="">
                        <h3>lorem</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit dolor ipsam aliquam saepe sunt, hic harum recusandae magnam repellat officiis sapiente totam blanditiis voluptates eius aliquid dolorem enim nam provident?</p>
                    </div>
                    <div class="testi-txt">
                        <img src="imagenes/t2.png" alt="">
                        <h3>lorem</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit dolor ipsam aliquam saepe sunt, hic harum recusandae magnam repellat officiis sapiente totam blanditiis voluptates eius aliquid dolorem enim nam provident?
                        </p>
                    </div>
                </div>
                <div class="testi-right">
                    <div class="testi-txt">
                        <img src="imagenes/t3.png" alt="">
                        <h3>lorem</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit dolor ipsam aliquam saepe sunt, hic harum recusandae magnam repellat officiis sapiente totam blanditiis voluptates eius aliquid dolorem enim nam provident?</p>
                    </div>
                </div>               
            </div>
        </div>
    </section>
    <footer class="footer container">
        <!-- <h2>Contacto</h2>
        <form>
            <input class="campo" type="text" placeholder="nombre">
            <input class="campo" type="=email" placeholder="email">
            <input class="btn-2" type="submit" value="enviar">
        </form> -->
        <div class="footer-txt">
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </footer>
</body>
</html>