<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylehome.css') }}">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="imagenes/menu.png" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <!-- <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li> -->
                    <!-- <li><a href="/contacto">Contacto</a></li> -->
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>NEO BANCO</h1>
            <p>Abre una cuenta hoy y descubre cómo podemos ayudarte a alcanzar tus metas financieras. Es rápido, fácil y seguro. Con nosotros, obtendrás acceso a una amplia gama de servicios diseñados para facilitarte la vida. Desde transferencias rápidas y seguras, hasta herramientas de gestión financiera intuitivas, estamos aquí para apoyarte en cada paso del camino.</p>
            <a href="/login" class="btn-1">Empezar</a>
            </div>
            
        </div>
    </header>
    <section class="general container">
        <h2>Servicios</h2>
        <div class="general-content">
            <div class="general-1 txt">
                <h3>crea una cuenta</h3>
                <p>Crea una cuenta corriente rapido y sencillo. Solo tienes que crear una cuenta en nuestra pagina web</p>
            </div>
            <div class="general-2 txt">
                <h3>trasfiere </h3>
                <p>transfiere fondos de una cuenta a otra de una manera rapida y sencilla y sin limites de tranferandias diarias</p>
            </div>
            <div class="general-3 txt">
                <h3>gestiona tus gastos</h3>
                <p>Mantente al tanto de tus fondos y ten un registro de cualquier tipo de movimiento que se realize con estos</p>
            </div>
        </div>
    </section>
    <section class="info-1">
        <div class="info-content container">
            <h2>Información Destacada</h2>
            <div class="info-circle">
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>Clientes</h3>
                    </div>
                    <p>Clientes satisfechos en todo el mundo.</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>Tasa</h3>
                    </div>
                    <p>Tasa de interés competitiva en préstamos personales.</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>Seguridad</h3>
                    </div>
                    <p>Protección y seguridad de datos incluso en condiciones extremas.</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>Rapidez en apertura</h3>
                    </div>
                    <p>Minutos en promedio para abrir una nueva cuenta.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="general g2 container">
        <h2>Productos</h2>
        <div class="general-content">
            <div class="general-4 txt">
                <h3>Cuentas Corrientes</h3>
                <p>Gestione su dinero de manera efectiva con nuestras cuentas corrientes. Fácil acceso y múltiples beneficios.</p>
            </div>
            <div class="general-5 txt">
                <h3>Tarjetas de debito</h3>
                <p>Disfrute de la flexibilidad y recompensas de nuestras tarjetas de debito. Perfectas para todas sus necesidades de compra.</p>
            </div>
            <div class="general-5 txt">
                <h3>Préstamos Personales</h3>
                <p>Proximamente obtenga el financiamiento que necesita con préstamos personales. Términos flexibles y tasas competitivas.</p>
            </div>
        </div>
    </section>
    
    
    <section class="info-2">
        <div class="info-content container">
            <h2>Nuestro equipo</h2>
            <div class="testi">
                <div class="testi-left">
                    <div class="testi-txt">
                        <!-- <img src="imagenes/t1.png" alt=""> -->
                        <h3>¿Quienes somos?</h3>
                        <p>Somos estudiantes de Ingeniería en Sistemas en el 5to semestre, apasionados por el desarrollo de tecnología innovadora.</p>
                    </div>
                    <div class="testi-txt">
                        <!-- <img src="imagenes/t2.png" alt=""> -->
                        <h3>¿Que hacemos?</h3>
                        <p>Actualmente estamos trabajando en un proyecto práctico que desafía nuestras habilidades y conocimientos en desarrollo web.</p>
                    </div>
                </div>
                <div class="testi-right">
                    <div class="testi-txt">
                        <!-- <img src="imagenes/t3.png" alt=""> -->
                        <h3>Nuestro nivel</h3>
                        <p>Aunque somos amateurs en HTML y CSS, estamos dedicados a mejorar continuamente y ofrecer soluciones de alta calidad.</p>
                    </div>
                </div>               
            </div>
        </div>
    </section>
    
    <footer class="footer container">
        <!-- <h2>Contacto</h2>
        <form>
            <input class="campo" type="text" placeholder="nombre">
            <input class="campo" type="=email" placeholder="email">
            <input class="btn-2" type="submit" value="enviar">
        </form> -->
        <div class="footer-txt">
            <p>&copy; 2024 NEO BANCO. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>