<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='saldo.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="header-bar">
        <div class="left-text">
            <i class='bx bx-user-circle'></i> {{usuario}}
        </div>
        <span>CONSULTAR SALDO</span>
    </div>
    <div class="navbar">
        <a href="/admin">Inicio</a>
        <a href="/saldo">Consultar Saldo</a>
        <a href="/deposito">Depósito</a>
        <a href="/transferencia">Transferencia</a>
        <!-- <a href="/pagos_servicios">Pagos de servicios</a> -->
        <a href="/">Cerrar sesión</a>
    </div>
    <div class="container">
        <div class="saldo-container">
            <div class="header-saldo">
                <i class='bx bx-wallet'></i> Saldo Actual
            </div>
            <div class="saldo-amount">
                {{ saldo }}$
            </div>
        </div>

        <div class="header-movimientos">
            <i class='bx bx-list-ul'></i> Movimientos Recientes
        </div>
        <div class="table-header">
            <div class="header-tipo">Tipo</div>
            <div class="header-monto">Monto</div>
            <div class="header-fecha">Fecha</div>
        </div>
        <div class="table-container">
            <table class="styled-table">
                <tbody>
                    {% for movimiento in movimientos %}
                    <tr class="{{ 'positivo' if movimiento.monto >= 0 else 'negativo' }}">
                        <td class="cell-tipo">{{ movimiento.tipo }}</td>
                        <td class="cell-monto">{{ movimiento.monto }}$</td>
                        <td class="cell-fecha">{{ movimiento.fecha }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
