/* Estilos Globales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #fff;
}

/* Encabezado */
.header-bar {
    position: relative;
    background: #1A2D42;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.header-bar .left-text {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.header-bar .left-text i {
    margin-right: 8px;
    font-size: 24px;
    color: white;
}

.header-bar span {
    font-size: 18px;
    color: white;
    font-weight: 400;
}
/* Barra de Navegación */
.navbar {
    background-color: #C0C8CA;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: #25252b;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #65a1e5;
}

/* Estilos para el Panel de Administración */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th, .custom-table td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.custom-table th {
    background-color: #f4f4f4;
}

.actions-column {
    display: flex;
    gap: 10px;
}

.custom-button {
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.custom-button:hover {
    background-color: #0056b3;
}
