<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='prestamo.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/x-icon">
</head>
<body>
    <div class="header-bar">
        <div class="left-text">
            <i class='bx bx-user-circle'></i> {{usuario}}
        </div>
        <span>PRESTAMO</span>
    </div>
    
    <div class="navbar">
        <a href="/admin">Inicio</a>
        <a href="/saldo">Consultar Saldo</a>
        <a href="/deposito">Depósito</a>
        <a href="/solicitar_prestamo">Solicitud de Préstamo</a>
        <a href="/transferencia">Transferencia</a>
        <!-- <a href="/pagos_servicios">Pagos de servicios</a> -->
        <a href="/">Cerrar sesión</a>
    </div>

    <div class="container">
        <div class="form-container">
            <h2>Solicitud de Préstamo</h2>
            {% if mensaje %}
            <p>{{ mensaje }}</p>
        {% endif %}
    <main>
        <form action="/solicitar_prestamo" method="POST">
            <div>
                <!-- <label for="monto">Monto del Préstamo:</label> -->
                <input type="number" id="monto" name="monto" placeholder="Monto del Préstamo" required>
            </div>
            <div>
                <!-- <label for="cuotas">Número de Cuotas:</label> -->
                <input type="number" id="cuotas" name="cuotas" placeholder="Número de Cuotas" required>
            </div>
            <button type="submit">Enviar Solicitud</button>
        </form>
        
    </main>
    <footer>
        <!-- <p>&copy; 2025 Tu Empresa</p> -->
    </footer>

        </div>
    </div>


    
</body>
</html>