<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Bancario</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo.png') }}" type="image/x-icon">
</head>
<body>
    <div class="header-bar">
        <div class="left-text">
            <i class='bx bx-user-circle'></i> {{usuario}}
        </div>
        <span>BIENVENIDO A NEO BANCO</span>
    </div>
    <div class="navbar">
        <a href="/admin">Inicio</a>
        <a href="/saldo">Consultar Saldo</a>
        <a href="/deposito">Depósito</a>
        <a href="/transferencia">Transferencia</a>
        <a href="/solicitar_prestamo">Solicitud de Préstamo</a>
        <!-- <a href="/pagos_servicios">Pagos de servicios</a> -->
        <a href="/">Cerrar sesión</a>
    </div>
    <div class="container">
        <div class="dashboard">
            <div class="balance-section">
                <div class="half-section balance-half">
                    <h2>Cuenta Corriente</h2>
                    <div class="balance">
                        <span class="saldo">Bs.{{ saldo }}</span>
                    </div>
                </div>
                <div class="half-section debit-card-half">
                    <h2>Tarjeta de Débito</h2>
                    <div class="debit-card">
                        <button id="debit-card-button" class="link-box"><i class='bx bx-credit-card'></i>Gestionar</button>
                    </div>
                </div>
            </div>

            <div class="balance-section">
                <div class="half-section balance-half">
                    <h2>Cuenta verde</h2>
                    <div class="balance">
                        <span class="saldo">0$</span>
                    </div>
                </div>
                <div class="half-section debit-card-half">
                    <h2>Compra y venta de divisa</h2>
                    <div class="debit-card">
                        <button id="debit-card-button" class="link-box"><i class='bx bx-credit-card'></i>Gestionar</button>
                    </div>
                </div>
            </div>

            <div class="notifications-section">
                <h2>Notificaciones</h2>
                <ul class="notifications">
                    {% for notificacion in ultimas_notificaciones %}
                    <li>Su {{ notificacion.tipo }} ha sido {{ notificacion.notificacion }} el {{ notificacion.fecha }}</li>
                    {% endfor %}
                </ul>
                <button id="show-all-notifications" class="link-box"><i class='bx bx-bell'></i>notificaciones</button>
            </div>

            <div class="transactions-section">
                <h2>Últimas Transacciones</h2>
                <table class="transactions">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Descripción</th>
                            <th>Monto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaccion in transacciones %}
                        <tr>
                            <td>{{ transaccion.fecha }}</td>
                            <td>{{ transaccion.tipo }} "{{ transaccion.descripcion }}"</td>
                            <td>{{ transaccion.monto }}$</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="password-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Ingrese su Contraseña</h2>
            <input type="password" id="password-input" class="password-input" placeholder="Contraseña">
            <button id="password-submit" class="link-box">Enviar</button>
        </div>
    </div>

    <div id="debit-card-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Información de la Tarjeta de Débito</h2>
            <!-- Aquí se añadirá el contenido en el futuro -->
            <div class="container_tarjeta">
                <div class="card zinli">
                    <div class="card-header">
                        <span class="bank-name">Neo Banca</span>
                    </div>
                    <div class="card-body">
                        <div class="card-number-cvv">
                            <div class="card-number">1234 5678 9123 4567</div>
                            <div class="card-cvv">
                                <span class="label">CVV</span>
                                <span class="value">123</span>
                            </div>
                        </div>
                        <div class="card-expiry">
                            <span class="label">Válida hasta</span>
                            <span class="value">12/26</span>
                        </div>
                        <div class="card-holder">
                            <span class="label">Titular</span>
                            <span class="value">{{usuario}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="notifications-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Todas las Notificaciones</h2>
            <ul class="notifications-all">
                {% for notificacion in todas_notificaciones %}
                <li>Su {{ notificacion.tipo }} ha sido {{ notificacion.notificacion }} el {{ notificacion.fecha }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const passwordModal = document.getElementById("password-modal");
            const debitCardModal = document.getElementById("debit-card-modal");
            const notificationsModal = document.getElementById("notifications-modal");
            const debitCardButton = document.getElementById("debit-card-button");
            const passwordSubmit = document.getElementById("password-submit");
            const showAllNotifications = document.getElementById("show-all-notifications");
            const closeButtons = document.querySelectorAll(".close");
    
            debitCardButton.onclick = function() {
                passwordModal.style.display = "block";
            }
    
            passwordSubmit.onclick = async function() {
                const password = document.getElementById("password-input").value;
    
                // Enviar la contraseña al backend para validación
                const response = await fetch('/validate_password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ password: password })
                });
    
                const result = await response.json();
    
                if (result.valid) {
                    passwordModal.style.display = "none";
                    debitCardModal.style.display = "block";
                } else {
                    alert("Contraseña incorrecta");
                }
            }
    
            showAllNotifications.onclick = function() {
                notificationsModal.style.display = "block";
            }
    
            closeButtons.forEach(button => {
                button.onclick = function() {
                    button.parentElement.parentElement.style.display = "none";
                }
            });
    
            window.onclick = function(event) {
                if (event.target == passwordModal || event.target == debitCardModal || event.target == notificationsModal) {
                    event.target.style.display = "none";
                }
            }
        });
    </script>
    

</body>
</html>
